<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>

    <link rel="stylesheet" type="text/css" href="static\project3_page23.css" />
  </head>
  <body>

    <main>
      <section>
        <center><h1>Data Analysis</h1>
        <h3>Descriptive Data Analysis</h3></center>

        <img src="static\img_15.png" alt="">

        <p>


            Descriptive Statistical Analysis:</p><br/><p>
          <b>Finding Correlation between the variables:</b><p>
	To determine the relationship between each pair of these columns.
	This is done by plotting the correlation matrix.
	Each cell in the grid represents the value of the correlation coefficient between two variables.
	A value that is nearer to 1.0 indicates a strong positive correlation that is if the value of one variable increases, the value of the other variable increases.
	A value that is nearer to -1.0 indicates a strong negative correlation that is if the value of one variable decreases with the other’s increasing.


      </section>
    </main>
  </body>
</html>
