<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>

    <link rel="stylesheet" type="text/css" href="static\project3_page23.css" />
  </head>
  <body>

    <main>
      <section>
        <center><h1> Fraud Detection in Claims</h1>
        <h3>Feature Selection & Model Training</h3></center>

        <img src="static\img_16.png" alt="">
          <img src="static\gender.png" alt=""><br/>
          <img src="static\incident_severity.png" alt=""><br/>
          <img src="static\incident_type.png" alt=""><br/>
          <img src="static\occupation.png" alt=""><br/>
          <img src="static\collision_type.png" alt=""><br/>
          <img src="static\edu_level.png" alt="">

        <p>

	Inference:
            <ul>
<li>	It looks like people in exec-managerial positions have more frauds compared to other occupations. Sales, tech-support, and transport moving also have relatively high cases of fraud.
</li><li>Multi-vehicle and single-vehicle collisions have more frauds compared to parked and vehicle theft. One of the reasons could be that in a collision, there is a high possibility of more damage to the car, as well as the passengers and hence there is a need to file false insurance claims.
</li><li>While there are significant numbers of false claims in front and side collisions, rear collisions are the highest. This data is for the US and there, many people use dash cams while driving to record whatever is happening while they drive. In rear collisions, the footage from dashcams is not very helpful to conclusively prove whose mistake it was (insurance owner or other car owner). Maybe that is the reason for more fraudulent claims in rear collisions.
</li><li>	Riverwood city from SC state have claimed maximum amount of fraud for auto insurance.
</li><li>	Here, compared to minor damage, total loss, and trivial damage, fraudulent claims are the highest in major damage. One reason could be that the high amount of repair cost which will be incurred by the insurer due to major damage.
</li><li>	people with chess and cross-fit as a hobby have an extremely high number of fraudulent claims.
</li><li>	People in the age group of 31-35 and 41-45 have more number of frauds.</li>
          </ul>
          </br>
          <img src="static\img_17.png" alt="">


      </section>
    </main>
  </body>
</html>
</title>
</head>
<body>

</body>
</html>