<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>


    <style>
      html {
        font-family: sans-serif;

      }

      body {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
      }



      section {
        padding: 20px;
      }

      p {
        line-height: 1.5;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    </style>
  </head>
  <body>

    <main>
      <section>
        <h1>World Deaths Analysis</h1>

        <p>
            Details regarding the deaths due to each factor in World  from 1990 to 2017.

</p>

        <img src="static\img_3.png" alt="">

        <p>	The top five major risk factors for deaths in  India are High systolic blood pressure, Smoking, High fasting plasma glucose, Air pollution, High body-mass index.
       The highest deaths in India are recorded due to are High systolic blood pressure, Smoking, High fasting plasma glucose.
	  The least deaths are recorded due to Discontinued breastfeeding.

        </p>

        <img src="static\img_4.png" alt="">

        <p>	In World, the highest number of Deaths due to High systolic blood pressure was in 2017 and the lowest was in 1990.</p>
      </section>
    </main>
  </body>
</html>
